html, body {
  font-family: "Lucida Console", Monaco, monospace;
  height: 100%;
  box-sizing: border-box;
  background-color: #1C1C1C;
  color: #FFFFFF;
  padding: 1em 0;
}

.app_container {
	height: 100%;
}

.loading_info {
	margin: 2em 0;
}

.route_info {
	position: relative;
	margin: 2em 0;
	padding: 0.5em 2em;
	box-shadow: 15px 15px 20px #000000;
	border-radius: 4px;
}

.brown_route {
	background-color: #9F632A;
}

.orange_route {
	background-color: #FF4B00;
}

.route_id_span {
	font-size: 3.5em;
	margin-right: 0.35em;
}

.status_text_span {
	position: absolute;
	bottom: 1.85em;
}