<!DOCTYPE html>
<head>
	<title>Is the JMZ Running?</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='vendor/stylesheets/bootstrap.min.css') }}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='stylesheets/main.css') }}">
</head>
<body>
	<div class="app_container col-sm-12 col-sm-8 col-md-6 offset-md-3">
		<h3>Is the JMZ Running?</h3>
		<div class="data_container col-sm-12">
			Jiggling the MTA servers...
		</div>
	<div>
	<script type="text/javascript" src="{{ url_for('static', filename='vendor/scripts/jquery-3.3.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/app.js') }}"></script>
</body>