<!DOCTYPE html>
{% include "partials/head.jinja" %}
<body>
	<div class="app_container col-sm-12 col-sm-8 col-md-6 offset-md-3">
		{% include "partials/h3_title.jinja" %}
		<div class="data_container col-sm-12">
			<div class="text-center">
				<div class="loading_info">Pinging the MTA servers...</div>
				<div class="loading_info">
					<object class="spinner" data="{{ url_for('static', filename='images/radar_spinner.svg') }}" type="image/svg+xml"></object>
				</div>
			</div>
		</div>
	<div>
	<script type="text/javascript" src="{{ url_for('static', filename='vendor/scripts/jquery-3.3.1.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='scripts/app.js') }}"></script>
</body>
